.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 95%;
}
.experience-container > div:hover {
  background: transparent;
  border-color: $clr-primary-variant;
  cursor: pointer;
  transition: $main-transition;
}

.experience-container > div {
  background: $clr-bg-variant;
  padding: 2rem 2rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: $clr-primary;
  }
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1.5rem;
  text-align: center;
}

.experience-details {
  display: flex;
  gap: 1rem;
}

.experience-details-icon {
  margin-top: 6px;
  color: $clr-primary;
}

// .experience-logo-title {
//   opacity: 0.6;
// }

// .logo-title {
//   color: red;
// }

// MEDIA QUERIES

@media (max-width: $break-lg) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience-content {
    padding: 1rem;
  }
}

@media (max-width: $break-sm) {
  .experience-container {
    gap: 1rem;
  }
  .experience-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .experience-container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
