header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.typewritter {
  color: $clr-primary;
  font-weight: 600;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;

  h1 {
    font-family: 'Archivo', sans-serif;
    animation: neon 1s infinite;
    letter-spacing: 0.05rem;
    transition: $main-transition;
    padding-bottom: 0.3rem;
    // background: linear-gradient($clr-primary 0 0) no-repeat
    //   calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
    //   background-position 0.3s calc(0.3s - var(--t, 0s));
    &:hover {
      cursor: pointer;
      font-size: 3rem;
      //   border-radius: 2rem;
      //   --p: 100%;
      //   --t: 0.3s;
      //   color: #fff;
      //   margin: 1rem;
      // }
    }
  }

  // CTA

  .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }

  // HEADER SOCIALS

  .header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

    &:hover {
      a {
        transition: all 450ms ease;
        transform: scale(1.5);
      }
    }
  }

  .header-socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: $clr-primary;
  }

  // ME

  .me {
    background: linear-gradient($clr-primary, transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }

  .me-image {
    position: relative;
    bottom: 20rem;
    right: 1.5rem;
    width: 130%;
    // animation: scale-up-bottom 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    animation: fade-in 3.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  }

  // SCROLL DOWN

  .scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

    &:hover {
      color: $clr-primary;
      transition: all 450ms ease;
      transform: scale(1.1);
      font-size: 1.2rem;
    }
  }
}

// MEDIA QUERIES

@media (max-width: $break-sm) {
  header {
    height: 100vh;
    padding-top: 1.5rem;
  }

  .header-socials,
  .scroll-down {
    display: none !important;
  }
}
