.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  width: 95%;
}

.portfolio-item {
  background: $clr-bg-variant;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: $main-transition;

  &:hover {
    background: $clr-primary-variant;
    color: $clr-primary;
  }

  h3 {
    margin: 1.2rem 0 2rem;
  }
}

.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 10rem;
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-modal-container {
  display: flex;
  align-items: center;
}

.title-image-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
}
.modal-video {
  border-radius: 0.5rem;
}

.mtz-download-btn {
  display: none;
}

// MEDIA QUERIES

@media (max-width: $break-lg) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media (max-width: $break-sm) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .MuiBox-root.css-r67nlf {
    width: 22rem;
  }
}
