.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 95%;
}

.services {
  background: $clr-bg-variant;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid $clr-primary;
  height: fit-content;
  transition: $main-transition;
  &:hover {
    cursor: pointer;
  }
}

.services-head {
  background: $clr-primary;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);

  h3 {
    color: $clr-bg;
    font-size: 1rem;
    text-align: center;
  }
}

.services-list {
  padding: 1rem;
  li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1.1rem;
    max-width: 20rem;
  }
}

.services-list li:hover {
  color: $clr-primary;
  font-size: 200;
  transition: $main-transition;
  transform: scale(1.04);

  .services-list-icon {
    color: green;
    transition: $main-transition;
    transform: scale(2);
  }
}

.services-list-icon {
  color: $clr-primary;
  margin-top: 2px;
  width: 3rem;
}

// MEDIA QUERIES

@media (max-width: $break-lg) {
  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .services {
    height: auto;
  }
}

@media (max-width: $break-sm) {
  .services-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
